@import "../../styles/vars";

.score {
  // position: absolute;
  display: flex;
  flex-direction: column;
}

.score__count {
  margin-top: -6px;
  font-size: 1.6em;
  font-weight: bold;
  color: rgb(150, 149, 149);
}

.score__description {
  font-size: 0.8em;
  font-weight: bold;
  color: rgb(150, 149, 149);
}

@media screen and (max-width: $tablet) {
  .score {
    display: none;
  }
}
