/* Breakpoints */
$smallMobile: 300px;
$mobile: 480px;
$tablet: 959px;
$desktop: 1199px;

/* Colors */
$bgColor: #fafafa;
$accentColor: #0e83cd;
$accentColor_dark: #0a68a2;
$textColor: #2b2a31;
$textColor_dark: #fafafa;


/* Fonts */
$generalFont: "Montserrat";
$accentFont: "Gogh";