@import "vars";
@import "fonts";

* {
  margin: 0;
  padding: 0;
}

// #root {
//   height: 100vh;
// }

html,
body {
  height: 100%;
}

body {
  font-family: $generalFont;
  background-color: $bgColor;
  color: $textColor;
}

#dark body {
  color: $textColor_dark;
}

main {
  flex: 1 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container__row {
  width: 80%;
}

.container__row_wide {
  width: 100%;
}

button:hover {
  cursor: pointer;
}

a {
  color: $textColor;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

p {
  color: $textColor;
}

h1,
h2,
h3 {
  font-family: $accentFont;
}

// @media screen and (max-width: $tablet) {
//   .container__row_wide {
//     width: 100%;
//   }
// }
