@import "../../styles/vars";

.mainPage__inner {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.mainPage__general {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainPage__progress {
  display: flex;
  justify-content: center;
  gap: 60px;
  height: 50px;
}

.mainPage__imgWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 0px;
  padding-bottom: 35%;
  width: 100%;
  max-width: 1200px;
}

.mainPage__img {
  position: absolute;
  height: 100%;
  width: auto;
}

.mainPage__buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-top: 2em;
}

@media screen and (max-width: $tablet) {
  .mainPage__inner {
    align-items: center;
  }

  .mainPage__imgWrapper {
    padding-bottom: 50%;
  }

  .mainPage__buttons {
    flex-direction: column;
    width: 85%;
  }
}

@media screen and (max-width: $mobile) {
  .mainPage__imgWrapper {
    padding-bottom: 55%;
  }
}
