@import "../../styles/vars";

.finishPage {
  margin-top: 120px;
}

// .finishPage__header {
//   margin-bottom: 15px;
// }

.finishPage__description {
  margin-top: 13px;
}

.finishPage__share {
  margin-top: 15px;
}
