@import "../../styles/vars";

.finishPage {
  margin-top: 120px;
}

.finishPage__header {
  font-size: 40px;
}

#dark .finishPage__header {
  color: $textColor_dark;
}


.finishPage__description {
  font-size: 20px;
  margin-top: 30px;
  font-weight: 500;
}

#dark .finishPage__description {
  color: $textColor_dark;
}

.finishPage__share {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 20px;
}

.finishPage__icon {
  fill: white;
}

.finishPage__continue {
  margin-top: 80px;
}

.finishPage__button {
  padding: 15px 25px;
  border-radius: 16px;
  background-color: $accentColor;
  color: $bgColor;
  font-weight: 600;

  &:hover {
    background-color: $textColor;
    transition: all 0.3s;
  }
}

#dark .finishPage__button{
  background-color: $accentColor_dark;

  &:hover {
    background-color: $textColor_dark;
    color: $textColor;
    transition: all 0.3s;
  }
}