@import "../../styles/vars";

.footer {
  // position: fixed;
  // left: 0;
  // bottom: 0;
  flex: 0 0 auto;
  height: 80px;
  border-top: 1px solid #e1e1e1;
  margin-top: 30px;
}

#dark .footer{
  border-color:rgb(63, 63, 63);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__description {
  font-weight: 500;
  font-size: 14px;
}

#dark .footer__description {
  color: $textColor_dark;
}
.footer__switch {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
}

#dark .footer__label {
  color: $textColor_dark;
}

@media screen and (max-width: $tablet) {
  .footer__description {
    font-size: 12px;
  }
}

@media screen and (max-width: $mobile) {
  .footer__inner {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }

  .footer__description {
    font-size: 9px;
  }
}

