@import "../../styles/vars";

.footer {
  flex: 0 0 auto;
  height: 80px;
  border-top: 1px solid #e1e1e1;
  margin-top: 30px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__reviews {
  text-decoration: underline;
  font-weight: 500;
}

.footer__description {
  font-weight: 600;
}

@media screen and (max-width: $mobile) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .footer__reviews {
    font-size: 13px;
  }

  .footer__description {
    font-size: 13px;
  }
}
