@import "../../styles/vars";

.button {
  padding: 9px 20px;
  border-radius: 2px;
  border: none;
  border-radius: 7px;
  font-size: 1em;
  font-weight: 600;
  font-family: $generalFont;
  background-color: $accentColor;
  color: #fff;

  &_true {
    background-color: rgb(41, 183, 41);
    transition: background-color 0.2s;
  }

  &_false {
    background-color: rgb(211, 84, 84);
    transition: background-color 0.2s;
  }
}

#dark .button{
  background-color: $accentColor_dark;
  color: $textColor_dark;
}

@media screen and (max-width: $mobile) {
  .button {
    font-size: 0.8em;
  }
}

@media screen and (max-width: $smallMobile) {
  .button {
    font-size: 0.6em;
  }
}
