@import "../../styles/vars";

.button {
  padding: 9px 20px;
  border-radius: 2px;
  border: none;
  font-size: 1em;
  font-weight: 600;
  font-family: $generalFont;
  //   font-size: 90%;
  background-color: $accentColor;
  color: #fff;

  &_true {
    background-color: rgb(149, 179, 149);
  }

  &_false {
    background-color: rgb(203, 125, 125);
  }
}
