@import "./styles/_vars.scss";

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

#dark {
  background-color: rgb(6, 6, 6);
  /* height: 100%; */
}

#light {
  background-color: white;
}