@import "../../styles/vars";

.progress__inner {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 65vw;
  max-width: 900px;
  height: 1.6em;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 20%);
  border-radius: 7px;
  border: 2px solid #fff;
}

.progress__filler {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 0;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(
    to bottom,
    #6db3f2 0%,
    #54a3ee 50%,
    #3690f0 51%,
    #1e69de 100%
  );
  transition: width 0.5s ease-in-out;
}

.progress__label {
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-right: 5px;

  &_start {
    width: 100%;
    color: $textColor;
  }
}

@media screen and (max-width: $tablet) {
  .progress__inner {
    width: 85vw;
  }
  .progress__label {
    font-size: 13px;
  }
}

@media screen and (max-width: $mobile) {
  .progress__label {
    font-size: 11px;
  }
}

@media screen and (max-width: $smallMobile) {
  .progress__label {
    font-size: 8px;
  }
}
